.dashboard-container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    z-index: 10px;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  .sidebar {
    width: 250px;
    position: fixed;
    height: 100vh;
    background-color: #333;
    color: white;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar ul .active {
    font-weight: bold;
    color: blue;
  }
  
  .content {
    display: flex;
    padding: 20px;
    background: var(--bg-color);
    gap: 1rem;
  }
  .mid-section {
    width: 48vw;
  }
  .right-section {
    width: 24vw;
    height:fit-content;
  }
  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .stat-card {
    background: var(--bg-color);
    padding: 0px;
    border-radius: 5px;
    border: 1px solid var(--toggle-bg);
    font-size: 16px;
  }
  .employee-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px 0 10px;
  }
  .employee-logo h5 {
    font-size: 14px;
  }
  .count {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgba(237, 237, 237, 0.951);
  }
  .count h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .profit {
    width: max-content;
    background-color: var(--border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
  }
  .profit p {
    color: var(--form-switch);
    margin-bottom: 0px !important;
    font-size: 12px;
  }
  .loss{
    width: max-content;
    background-color:#d881871a;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
  }
  .loss p {
    color:#F45B69;
    margin-bottom: 0px !important;
    font-size: 12px;
  }
  .update p {
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px !important;
    color: #a2a1a8;
    font-size: 12px;
  }
  
  .attendance-overview {
    border: 1px solid rgba(237, 237, 237, 0.951);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  .attendance-overview h2{
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  .chart-placeholder {
    width: 100%;
  }
  
  .chart-placeholder Bar {
    padding: 20px;
  }
  
  .edit-button {
    position: relative;
    z-index: 10;
    cursor: pointer;
    padding: 0px !important;
  }
  
  .calendar {
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(237, 237, 237, 0.951);
    border-radius: 10px;
    padding: 10px;
  }
  .calendar h2 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .calendar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .calendar-heading img {
    width: 40px;
    height: 40px;
  }
  .arrow-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .arrow-wrapper h3 {
    font-size: 16px;
    font-weight: 600;
  }
  .calendar-grid,
  .day-sequence {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
  }
  
  .day {
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
  
  .current-day {
    background-color: #7a00ff;
    color: white;
  }
  
  .task-day {
    background-color: red;
    color: white;
  }
  .task-tooltip {
    cursor: pointer;
    transform: translateX(-50%);
  
  }
  .task-modal {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    white-space: nowrap;
    z-index: 100;
  }
  /* 🔹 Small dot below task dates */
  /* .task-indicator {
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
  } */
  .task-tooltip{
    position: absolute;
    /* top: tooltipPosition.y;
    left: tooltipPosition.x; */
    /* background: #fff; */
    padding: 8px;
    border-radius: 5px;
  
  }
  .remove-task {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: red;
    margin-right: 8px;
  }
  .remove-task:hover {
    color: darkred;
  }
  abbr[title]{
    text-decoration: none;
  }
  
  
  
  
  
  /* 🔹 Hide tooltip by default */
  /* .task-tooltip-wrapper {
    position: relative;
    display: inline-block;
  } */
  
  .task-tooltip-wrapper:hover .task-tooltip {
    opacity: 1;
    visibility: visible;
  }
  .task-tooltip.visible {
    opacity: 1;
    visibility: visible;
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateX(-50%) translateY(-5px); }
    to { opacity: 1; transform: translateX(-50%) translateY(0); }
  }
  
  .modal-overlay {
    background: rgba(0, 0, 0, 0.5); /* Ensures main modal background is dimmed */
  }
  
  .modal-container {
    background: white; /* Ensures only modal is focused */
  }
  
  
  .react-calendar__navigation button {
    background-color: #7a00ff !important;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white !important;
  }
  .react-calendar__navigation button:first-child {
    border-radius: 10px 0 0 10px;
  }
  .react-calendar__navigation button:last-child {
    border-radius: 0 10px 10px 0;
  }
  
  .react-calendar__navigation button:hover {
    color: #2e587d;
  }
  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .current-date {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    padding: 8px 12px;
    border-radius: 5px;
    color: #333;
  }
  .today-highlight {
    border-radius: 50%;
    background-color: #7a00ff !important;
    color: #ffffff;
  }
  
  .task-highlight {
    border-radius: 50%;
    background: #e83737 !important;
  
    color: #ffffff;
  }
  .react-calendar_month-view {
    display: grid;
    gap: 10px;
  }
  .react-calendar__month-view__days {
    border: none !important;
  }
  .react-calendar__month-view__weekdays {
    text-transform: uppercase;
    font-weight: bold;
  }
  .react-calendar__month-view__weekdays__weekday {
    border-bottom: none !important;
  }
  .react-calendar {
    border: none !important;
  }
  
  /* .react-calendar__navigation {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
  }
 
  button {
    position: relative;
    z-index: 10;
  } */
  
  @media (max-width: 1450px) {
    .mid-section {
      width: 45vw;
    }
    .right-section {
      width: 26vw;
    }
  }
  @media (max-width: 1250px) {
    .mid-section {
      width: 42vw;
    }
    .right-section {
      width: 26vw;
    }
    .react-calendar__navigation button {
      font-size: 12px;
    }
  }
  @media (max-width: 1230px) and (min-width: 1024px) {
    .dashboard-container {
      margin-left: 25px;
    }
    .mid-section {
      width: 40vw;
    }
    .right-section {
      width: 26vw;
    }
  }
  
  @media (max-width: 1024px) {
    .right-section {
      width: 30vw !important;
    }
    .mid-section {
      width: 44vw !important;
    }
    .calendar-heading h2 {
      font-size: 14px;
    }
  }
  
  @media (max-width: 900px) {
    .day {
      padding: 8px;
      font-size: 11px;
    }
    .dashboard-container {
      flex-direction: column;
    }
  
    .calendar-container {
      padding: 0;
    }
    .calendar-container h2 {
      padding: 0;
    }
    abbr[title],
    abbr {
      font-size: 12px;
    }
  }
  
  @media (max-width: 768px) {
    .calendar {
      gap: 3px;
      padding: 10px;
    }
  
    .day {
      padding: 5px;
      font-size: 10px;
    }
    .content {
      flex-direction: column;
      width: 100%;
      padding: 20px 0px;
    }
  
    .mid-section,
    .right-section {
      width: 100% !important;
    }
    .edit-button {
      padding: 0px !important;
    }
   
  }
  @media (max-width: 650px) {
    .mid-section {
      width: 100%;
      margin: 0 auto;
    }
  
    .calendar {
      width: 100%;
      position: static;
      opacity: 1;
      margin: 0 auto;
    }
    .day {
      padding: 15px;
      text-align: center;
      border-radius: 50%;
      font-size: 14px;
    }
  
    .todo {
      width: 100%;
    }
    abbr {
      font-size: 16px;
    }
   
  }
  @media (max-width: 500px) {
    
    .calendar-container {
      padding: 0;
    }
    .calendar-container h2 {
      padding: 0;
    }
    abbr[title],
    abbr {
      font-size: 14px;
    }
  
    .day {
      padding: 6px;
      font-size: 10px;
    }
  }
  @media (max-width: 400px) {
    .count h1 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 350px) {
    .employee-logo h5 {
      font-size: 12px;
    }
    .day {
      padding: 4px;
      font-size: 8px;
    }
    tspan {
      font-size: 14px;
    }
  }
  
  .container {
    width: 80%;
    padding: 20px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .plus-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #7a00ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .task-list {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .task-item {
    background: #f9f9f9;
    padding: 10px;
  
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: left;
  }
  
  .task-item p {
    margin: 5px 0;
    font-size: 12px;
  }
  
  .task-item strong {
    font-size: 12px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modal-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  
  .cancel-button {
    background: gray;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background: darkgray;
  }
  
  .submit-button {
    background-color: #7a00ff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: hwb(269 0% 0%);
    transition: ease-in-out;
  }
  @media (max-width: 500px) {
    .modal-container {
      width: 300px;
    }
    .task-item p {
      margin: 5px 0;
      font-size: 12px;
    }
    
    .task-item strong {
      font-size: 12px;
    }
  }
  