.layout-container {
  display: flex;
}

.sidebar-section {
  width: 33.33%;
  /* background-color: #f0f0f0; */
  padding: 20px;
  overflow-y: auto;
}

.content-section {
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  margin-left: 20%;
}

@media screen and (max-width: 1024px) {
  .content-section {
    margin-left: 10%;
  }
}
@media screen and (max-width: 768px) {
  .content-section {
    margin-left: 0%;
  }
}

@media (max-width: 380px) {
  input::placeholder {
    font-size: 16px !important;
  }
}
